
.spotDetails-outerDiv {
    max-width: 1000px;
    overflow: scroll;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
}

/* IMAGE CONTAINER */
.spotDetails-imageContainer {
    /* border: solid;
    border-color: green; */
    display: flex;
    flex-direction: row;
    height: 300px;
    padding-right: 10px;
    box-sizing: border-box;
}

.primary-image {
    /* border: solid;
    border-color: red; */
    width: 50%;
    padding-right: 5px;
}

.primary-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.secondary-images {
    /* border: solid;
    border-color: blue; */
    max-height: 300px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
}

.quad {
    width: 100%;
    height: 100%;
    /* border: dotted;
    border-color: green; */
}

.quad img {
    width: 100%;
    height: 100%;
    max-height: 150px;
    object-fit: cover;
}


/* SPOT DETAILS & RESERVE */

.spotDetails-sectionTwo {
    margin-top: 10px;
    max-width: 1000px;
    /* border: solid; */
    /* border-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .spotDetails-detailsContainer {
    border: dotted;
    border-color: green;
} */

.reserveContainer {
    /* border: dotted;
    border-color: red; */
    padding-right: 5px;
}

.reserveCard {
    border: solid;
    border-color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.reserveCard-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.reserveCard-info p {
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

#night {
    padding: 0;
}

#bigPrice {
    padding: 0;
    margin-left: 10px;
    font-size: medium;
}

.reviewinfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-right: 10px;
}

.reserveButton {
    height: 30px;
    width: 200px;
    margin: 10px;
    margin-top: 0;

    background-color: rgb(129, 170, 247);
    color: white;
    border-color: black;
    box-shadow: 5px, 2px, 5px, black;
}

/* fix container spill over with larger screens */
/* @media screen and (min-width: 1000px) {

    .secondary-images {
        overflow: hidden;
        row-gap: 2px;
    }

    .quad img {
        object-fit: cover;
    }
} */


/* optional to-do : add media screen for small screens, move reserve under images and desc under reserve */



/*  REVIEW FORUM  */
.review-name {
    font-size: large;
    color: black;
    margin-bottom: 0;
}

.review-date {
    margin-top: 0;
    margin-bottom: 5px;
    color: rgb(184, 183, 183);
}

.review-body {
    font-size: medium;
    margin-top: 0;
}

.review-container {
    margin-bottom: 20px;
}