.manage-page {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
}

.outerDiv-manageSpots {
    height: 100%;
    max-width: 100%;
    margin-right: 50px;;
    margin-left: 50px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    overflow: hidden;
}



.manage-title {
    text-align: center;
    margin-top: 80px;
}


.no-spots-button {
    margin-top: 100px;
}

.noSpots-button-container {
    position: absolute;
    left: 20%;
    height: 40px;
    width: 200px;

    border: solid;
    border-width: 2px;
    background-color: rgb(53, 131, 255);


    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

    transition: 1s;
}
    
#create-spot-no-spots {
    text-decoration: none;
    margin: 0;
    padding: 0;
    align-self: center;
    color: white;
}

.noSpots-button-container:hover {
    /* background-color:  rgb(35, 95, 235) */
    animation: gradient 5s ease-in;
}

.update-delete-container {
    width: 124px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}



/* add media screen for 3, 2, and 1 columns */

@media screen and (max-width: 1010px){
    .outerDiv-manageSpots {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 739px) {
    .outerDiv-manageSpots {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .outerDiv-manageSpots {
        grid-template-columns: repeat(1, 1fr);
    }

    .spot-card-home {
        max-width: 100%;
    }
}


/*  loading msg */
.loading-screen {
    color: white;
}